.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.input {
  padding: 0.5rem 0.7rem;
  background-color: white;
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: #cfcfcf;
  font-size: 1rem;
  font-weight: normal;
  transition: 0.12s;
  flex: 1;
}
