.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.label {
  font-size: 1rem;
  font-weight: normal;
  color: #000000;
  margin-bottom: 0.5rem;
  display: flex;
}

.input {
  font: inherit;
  padding: 0.5rem 0.7rem;
  background-color: white;
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: #cfcfcf;
  font-size: 1rem;
  font-weight: normal;
  transition: 0.12s;
  flex: 1;
}

.input:focus {
  border-color: #7a7a7a;
}

.input::placeholder {
  font-size: 1rem;
  justify-content: center;
  font-weight: normal;
}
