.container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #d2cdcd;
  box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttonContainer:hover {
  opacity: 0.6;
}

.buttonContainer:active {
  opacity: 0.3;
}
