.container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.5rem;
}

.productEditorContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.tableHeader {
  display: flex;
  flex-direction: row;
}

.productListImageContainer {
  height: 4rem;
  width: 4rem;
}
